.editorconfig
*.ncu-rep
*~
.cache/
.vscode/*
assets
assets/**
benchmark-*/
build*/
imgui.ini
.projectile
optix.props
private.cmake
tmp*.png
tmp/
__pycache__/
vs-chromium-project.txt
ClusterApi/codegen/input/*/*.ppm
ClusterApi/codegen/input/*/*.log
scenes
scenes/**
data
data/**
hooks/
lfs/
log
